.chat-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

app-contacts{
    width: 20%;
    height: 100%;
    border-right: rgba(0,0,0,.12) 1px solid;
}

app-messages {
    width:80%;
}

.no-contact{
    padding:1vh;
    font-style: italic;
}